h2 {
    color : red;
}
.hightlight {
    border: solid;
    background-color: gray;
}
#profile {
    border: solid;
    border-color: blue;
}
/* 1. 태그명 (ex h2) 로 지정하거나 
   2. . + class명 (ex highlight)  으로 지정하거나
   3. # + id 명 (ex profile) 으로 지정할 수 있다.*/
p img {

}
/* 게층구조를 이용한 복합 선택자도 사용가능하나 추천사항은 아님, 클래스를 적극활용하는 것을 추천
가장 먼저 <p> 태그를 탐색 그 하위 <img> 자식, 후손 태그에 모두 스타일이 적용된다.
*/
p>img {

}
/* <p> 태그의 하위 <img> 자식 계층에만 스타일 적용 (후손X) */
div .hightlight p #subtitle {

}
/* 태그 뿐만 아니라 클래스 id 로도 적용가능*/